/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo img {
    max-width: 150px;
    height: auto;
}

h1 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

/* Estilos para as Seções */
section {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.video-container {
    margin-top: 15px;
}

/* Estilos para Vídeos */
video {
    margin-bottom: 20px;
    border-radius: 5px;
    background: #f0f0f0;
}

/* Estilos para o Aside */
aside {
    background: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos para o Footer */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



